body {
  font-family: sans-serif;
  background: #2d2d2d;

  
}
.container {
  width: 520px;
  height: auto;
  margin: 0 auto;
  padding: 32px;
  text-align: center;

  h1 {
    color: white;
    text-align: center;

    img {
      display: inline;
      width: 54px;
    }
  }

  #btnSubmit {
    background-color: #1caf57;
    cursor: pointer;
    color: white;
    display: inline-block;
    border-radius: 4px;
    padding: 8px;
  }

  #catInput {
    width: 100%;
    margin-bottom: 16px;
    height: 24px;
    border-radius: 4px;
    border: none;
    padding: 8px;
  }

  #giphyme {
    width: 100%;
    margin-top: 32px;
    position: relative;

    center, img {
      width: 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;

  a {
    color: #f7f7f7;
    text-decoration: none;
  }
}